@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --font-color-primary: rgb(10, 10, 10);
  --font-color-accent: rgb(64, 64, 188);
  --colour-primary: #bfe6de;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--font-color-primary);
}

a,
a:visited {
  text-decoration: none;
  color: var(--font-color-accent);
}

ul {
  list-style-type: none;
}
